<h1>Add new playlist</h1>

<div>
<%= form_for [@user, @playlist], html: { multipart: true } do |form| %>
   <%= form.label :playlist_title %>
   <%= form.text_field :playlist_title %><br>

   <%= form.label :song_title %>
   <%= form.text_field :song_title %><br>

   <%= form.label :song_position %>
   <%= form.integer :song_position %><br>

   <%= form.submit "Done" %>
<% end %>
</div>
